<% @microposts.each do |m| %>
     <%= content_tag_for(:div, m) do %>
      <div style="color:#3BCC51;">
        <strong>
          <%= m.category %>
        </strong>
        <br>
      </div>

      <div id="listpostcontent">
        <%= m.content %><br>
      </div>

      <%= m.address %><br>

      <div style="color: #ee514e">
        <%= m.votes_for %><br>
      </div>

      <%= button_to "Vote Up", '/microposts/' + m.id.to_s + '/vote_up' , :method => "post" %>

      <div id="time_ago"><%= time_ago_in_words(m.created_at) + ' ago' %></div>

      <%= content_tag_for(:button, m, class: "toggle-comments button") do %>
        <%= "Toggle #{m.comments.count} Comments" %>
      <% end %>

      <div class="comments comments-hidden">
        <h3 style="color:#3BCC51;">Comments</h3>
        <% m.comments.each do |comment| %>
          <p>
            <%= comment.commenter %>
          </p>

          <p class="comment-body">
            <%= comment.body %>
          </p>
        <% end %>

        <%= render 'microposts/commentform', micropost: m %>
        </div>
      <% end %>
      <hr style="width: 300px;">
    <% end %>
