<!DOCTYPE HTML>
<html>
<head>
  <title>MarkdUp</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="listcontainer">
 <% flash.each do |key,value| %>
   <div class="alert_alert-<%= key %>">
     <%= value %>
   </div>
 <% end %>
<%= yield %>
</div>

<%= javascript_include_tag "application" %>
</body>
</html>
